.login__question {
    color: white;
    text-align: center;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    margin: 0;
    padding-top: 15px;
}

@media all and (max-width: 420px) {
    .login__question {
      width: 260px;
      padding-top: 20px;
    }
  }